<footer>
  <div class="upper">
    <div class="first">
      <h1>Ecommerce</h1>
      <p>
        Our purpose is to sustainably make the pleasure and benifits of various
        accessories to many.
      </p>
    </div>
    <div class="secound">
      <h3>Useful Links</h3>
      <ul>
        <li>Coupons</li>
        <li>Blog Poducts</li>
        <li>Return policy</li>
        <li>Join Affiliate</li>
      </ul>
    </div>
    <div class="third">
      <h3>Follow Us</h3>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
        <li>Youtube</li>
      </ul>
    </div>
  </div>
  <hr style="border: 1px solid white" />
  <h2>Copyright 2025 | Sumit Kumar</h2>
</footer>
